@charset "utf-8";
/* CSS Document */

    body {
	    /*background: #f0f0f0 url(../Assets/Mst_Logo.png) no-repeat center 160px fixed;*/
	    background-size: auto;
	    text-align: center
    }
    /*Header styles*/
    #headerBg {
	    border: none;
	    height: 65px;
	    background-color: #e0e6e8;
	    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.15);
    }
    .roundLogo {
        margin-top: 3px;
    }

    .logoAssets{
	    text-align:left;
	    margin-top: 12px;
	    margin-left: -15px;
    }

    #logOut{
	    padding-top: 15px;
	    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	    text-transform: uppercase;
	    color: #505050;
	    font-size: 15px;
	    font-weight: 700;
	    text-align:right;
	    margin-right:-10px;
    }

    #logOut a{
	    color: rgb(129, 129, 129);
    }
    #logOut a:hover{
	    color: rgb(203, 102, 104);
    }
    #logOut .badge {
	    margin-left: -8px;
	    background-color: transparent;
	    vertical-align: middle;
    }

    /* Content Area Styles*/

    .tagLine h1 {
        font-family: Arial;
        color: #0967a5;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .columnBox {
        margin-top: 15px;
        background-color: rgba(227, 227, 227,0.7);
        -webkit-border-radius: 10px;
        -webkit-border-top-left-radius: 60px;
        -moz-border-radius: 10px;
        -moz-border-radius-topleft: 60px;
        border-radius: 10px;
        border-top-left-radius: 60px;
        -webkit-box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.46);
        -moz-box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.46);
        box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.46);
    }
    .columnBox:hover {
        background-color: rgb(227, 227, 227);
    }
    .pushRight {
        text-align: left;
    }
    .columnTitle h5 {
        font-family: Arial;
        color: #0967a5;
        font-size: 17px;
        font-weight: 700;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.35);
        padding-left: 50px;
        text-transform: uppercase;
        padding-top: 1px;
    }
    .inRow {
        text-align: right;
    }
    .col1 {
        width: 10%;
        float: left;
        padding: 0px 5px 5px 25px;
    }
    .col2 {
        width: 90%;
        float: left;
        padding: 0px 25px 5px 0px;
    }
    .list-group {
        width: 85%;
        padding-right: 25px;
        padding-left: 0;
        margin-bottom: 5px;
        display: block;
        float: right;
        margin-right: 0px;
        margin-top: -7px;
    }
    .list-group-item {
        font-size: 8.5pt;
        text-height: max-size;
        color: blue;
        position: relative;
        align-content: stretch;
        display: block;
        padding: 5px 2px;
        margin-bottom: -1px;
        background-color: transparent;
        border: 0px solid #ddd;
        font-weight: 600;
    }
    a.list-group-item {
        color: #7E7C7C;
        text-transform: uppercase;
    }
    a.list-group-item:focus, a.list-group-item:hover {
        color: rgba(58,58,58,1.00) !important;
        text-decoration: none;
        background-color: transparent;
        font-weight: 800;
    }

    .fa-play{
	    color:rgb(9, 103, 165);
	    font-size:14px !important;
	    line-height:14px;
	
    }

    .adjustL{
	    margin-top:-15px;
    }


